@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

* {
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}

img {
    width: 35px;
}

.title {
    font-size: 14px;
}

.main {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    display: flex;
    min-height: 100vh;
}

.img {
    width: 40px;
    height: 45px;
    margin: 10px 0 0 20px;
}

.menu {
    display: block;
    padding-left: 15px;
    left: -300px;
    width: 220px;
    height: 100%;
    background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
    position: fixed;
    transition: left 400ms ease, box-shadow 400ms ease;
}

.menu-wrapper.menu-active .menu {
    left: 0;
    z-index: 3;
    box-shadow: 0 0 10px rgba(8, 8, 8, 0.3);
}

.menu-wrapper.menu-active .background {
    opacity: 1;
    pointer-events: auto;
}

.background {
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 400ms linear;
}

.title-menu {
    font-size: 23px;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
}

.item-text {
    font-size: 14px;
    padding-left: 10px;
    line-height: 0;
}

.icon {
    width: 20px;
    height: 20px;
}

.product-card {
    flex-direction: column;
    z-index: 2;
    width: 400px;
    align-items: center;
    margin: auto;
}

.product-card-image {
    background-image: url(./assets/pizza.jpg);
    background-size: cover;
    background-position: center;
    /* background-position-y: -130px; */
    height: 195px;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    box-sizing: border-box;
}

.product-card-image .labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label-discount-back {
    background-color: rgb(38, 12, 158);
    width: 60px;
    height: 30px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-add-to-favourite {
    cursor: pointer;

}

.product-card-info {
    background-color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    box-sizing: border-box;
    cursor: context-menu;
}

.product-card-info>*:not(:last-child) {
    margin-bottom: 17px;
}

.product-card-info .text.combo-about {
    font-size: 12px;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.product-size {
    display: flex;
    justify-content: space-around;
}

.size-button {
    background-color: rgba(158, 158, 158, 0.753);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    transition: background-color 500ms ease;
    cursor: pointer;
}

.size-button:hover,
.size-button.active {
    background-color: rgba(97, 97, 97, 0.753);
}

.price-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.text.price {
    text-decoration: line-through;
    color: grey;
    font-size: 25px;
}

.text.new-price {
    font-size: 30px;
    font-weight: bold;
}

.buy-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button-buy {
    background-color: rgb(251, 130, 19);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 7px;
    cursor: pointer;
    transition: background-color 500ms ease;
}

.button-buy:hover {
    background-color: rgba(255, 136, 24, 0.918);
}

.add {
    width: 27px;
    height: 27px;
    padding-left: 5px;
}

.button-buy .text {
    color: white;
    font-size: 18px;

}

.size-button-active {
    background-color: rgba(97, 97, 97, 0.753);
    box-shadow: 0 0 10px rgba(97, 97, 97, 0.753);
}

